--extra-index-url https://download.pytorch.org/whl/cu124
# pytorch
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
onnx==1.18.0
onnxscript==0.3.2

# stuff
tqdm~=4.67.1
numpy~=2.3.1
matplotlib~=3.10.3
python-dotenv~=1.1.1
flask~=3.1.1
waitress~=3.0.2

# video
opencv-python~=4.11.0.86
moviepy~=2.2.1
